@model WalletApp.Models.Transaction
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] =localizer["DetailTransaction"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@using (Html.BeginForm("UpdateTransaction", "Transactions", FormMethod.Post))
{
    @Html.TextBoxFor(x => x.Id, new { @type = "hidden" })
    <br />
    <b>@localizer["Name"]</b>
    @Html.EditorFor(x => x.name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(x => x.name)
    <br />
    <b>@localizer["Type"]</b>
    @Html.DropDownListFor(x => x.type, new SelectList(new List<Object>{
    new{value="Income" , text="Income"},
    new{value="Spending" , text="Spending"}}, "value", "text"), new { @class = "form-control" })
    <br />
    <b>@localizer["Price"]</b>
    @Html.EditorFor(x => x.price, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(x => x.price)
    <br />
    <br />
    <button class="btn btn-outline-info">@localizer["Update Transaction"]</button>
}

